<a href="https://colab.research.google.com/github/DeepakPamwani/dp/blob/master/Task1ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. We are having 3 list like this

Colors = [“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

  i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like its is a fruit or color or Animal

 ii

In [ ]:
Colors = ['Yellow', 'Green', 'White', 'Black']

Fruits=['Apple','Papaya','Mango','Orange']

Animals=['Tiger','Lion','Deer','Zebra']

a = input('enter the name of color/fruit/animal')
if a in Colors:
  print('it is a Color')
if a in  Fruits:
  print('it is a fruit')
if a in Animals:
  print('it is an Animal')

enter the name of color/fruit/animalYellow
it is a Color

###ii. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print "They don't belong to same category"

In [ ]:
India = ['New Delhi', 'Mumbai', 'Jaipur', 'Mangalore', 'Gandhinager', 'Tezpur', 'Patna']
Europe = ['Rome', 'Paris', 'Berlin', 'Munich', 'Oslo', 'London', 'Rotterdam']
c = input('Enter the First City Name:')
d = input('enter the second City Name:')
if c and d in India:
  print('both are in same country')
if c and d in Europe:
  print('both are in same country')
else:
  print('both are not belong to same country')

Enter the First City Name:Mumbai
enter the second City Name:Patna
both are in same country
both are not belong to same country

#2.  Write a python program that can tell you if your grade score good or not . Normal Score range is 40 to 60.

  i. Ask user to enter his score.

  ii. If it is below 40 to 60 range then print that score is low

  iii. If it is above 60 then print that it is good otherwise print that it is normal

In [42]:
m = int(input('enter your score:'))
if m<40:
  print('Score is low')
if m>40  and m<60:
  print('score is low')
if m>60:
  print('score is good')

enter your score:35
Score is low

3.  After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

Using for loop figure out how many times you got Pass

In [31]:
result = ['Pass', 'Fail', 'Fail', 'Pass','Fail', 'Pass','Pass', 'Fail', 'Fail', 'Fail']
for i in range(len(result)):
  if result[i]=='Fail':
    pass
  else:
    print(len(result[i]))

4
4
4
4

In [8]:
result = ['Pass', 'Fail', 'Fail', 'Pass','Fail', 'Pass','Pass', 'Fail', 'Fail', 'Fail']
for i in range(len(result)):
  if result[i]=='Pass':
    print(len(result[i]))

4
4
4
4

#4.  Write a program that prints following shape

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [30]:
n = int(input('enter the number of row:'))
for i in range(n):
  print("*"*i, end = " ")
  print()
for j in range(n):
  print("*"*(n-j), end = ' ')
  print()

enter the number of row:5

*
**
***
****
*****
****
***
**
*

#6.  Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [34]:
for i in range(1500,2701):
  if (i % 7==0) and (i%5==0):
    print(i, end = ' ')

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

#7.   Print square of all numbers between 10 to 20 except even numbers

In [35]:
for i in range(10,21):
  if i%2==0:
    pass
  else:
    print(i*i, end =" ")

121 169 225 289 361

#8.  Your Marks for five Test(test1 to test5) looks like this,

marks_list = [65, 75, 2100, 95, 83]

Write a program that asks you to enter marks and program should tell you in which test that marks occurred. If marks is not found then it should print that as well

In [41]:

marks_list = [65, 75, 2100, 95, 83]
p = int(input('Enter your marks:'))
if p ==65:
  print("you marks for Test 1",p)
if p==75:
  print('Your makrs for Test2', p)
if p ==2100:
  print('Your makrs for Test3', p)
if p ==95:
  print('Your makrs for Test4', p)
if p ==83:
  print('Your makrs for Test2', p)
if p not in marks_list:
  print('Marks not found')

Enter your marks:88
Marks not found